*{
    text-align: center;
    background-color: aquamarine;
}

.drizz h1 {
    color: pink;
}

img{
    border-radius: 50%;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 3s ease;
    background-image: url("drake.jpg");
  }
  
  .container:hover .overlay {
    opacity: 1;
  }